// Contact form styling
#contact {
    width: 50%;
    margin: auto;
    text-align: center;
  
    h2 {
      margin-bottom: 20px;
    }
  
    form {
      text-align: left;
      margin-top: 30px;
      @include flex-center;
      flex-direction: column;
    }
  
    input, textarea {
      height: 50px;
      font-size: 1.2em;
      border: none;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    }
  
    label {
      margin: 2em 0 1em 0;
    }
  
    input[type="submit"] {
      font-family: $font-secondary;
      font-weight: 700;
      color: white;
      background-color: $color-secondary;
      margin: 2em auto;
      width: 180px;
      text-align: center;
      border-radius: 60px;
    }
  }
  