.banner_edit_mode {
    background-color: #110303;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
  
    i {
      color: white;
      margin-right: 5px;
    }
  
    span {
      color: white;
    }
  }
  
  .hidden { display: none; }
  .modal {
    position: fixed; 
    top: 25%; 
    left: 25%; 
    width: 50%; 
    height: 50%; 
    background: white; 
    border: 1px solid black; 
    padding: 20px; 
    box-sizing: border-box;
    display: none; /* La modal est cachée par défaut */
  }
  .modal-header { display: flex; justify-content: flex-end; cursor: pointer; }
  .modal-body { margin-top: 20px; height: 80%; overflow-y: auto; }
  .button { margin-top: 10px; }
  
  