.banner_edit_mode {
    background-color: #110303;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
  
    i {
      color: white;
      margin-right: 5px;
    }
  
    span {
      color: white;
    }
  }

.modal {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    width: 630px;
    height: 680px;
    border-radius: 10px;
    box-shadow: grey;
    background: whitesmoke;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; 
    overflow: hidden;

    .modal-header {
        display: flex;
        justify-content: space-between;
        padding: 26px 30px 13px;
        font-size: 1.5em;

        .cross-modal {
            margin-left: auto;
        }
        .fa-arrow-left {
             display : none;
        }
    }

    .modal-body {
        text-align: center;
        margin: 0;

        h2 {
            font-size: 26px;
            font-weight: 400;
            color: unset;
            font-family: unset;
             
        }

        .photo-mini-gallery {
          display: flex;
          flex-wrap: wrap;
          padding: 62px;
          gap: 22px;
          position: relative;
      }
      
      .photo-mini-gallery img {
          width: 78px; 
          height: 102px; 
          object-fit: cover; 
          border-radius: 5px; 
      }
      
        #line-modal {
            width: 420px;
            height: 1px;
            background: gray;
            margin: auto;
            color: white;
        }

        button {
            background: #1D6154;
            color: white;
            width: 237px;
            height: 36px;
            border-radius: 60px;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 45px;
            margin-top: 46px;
            align-self: center;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
            width: 420px;
            margin-bottom: 45px;
        }
    }
}

.backdropFilter {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
  display: none; 
  z-index: 1000; 
}

.modal-active .backdropFilter {
  display: block; 
}

.image-wrapper {
  position: relative;
  display: inline-block;

  img {
    width: 100%;
    display: block;
  }

  .fa-trash-can {
    position: absolute;
    top: 10px; 
    right: 10px; 
    color: white; 
    background: black;
    padding: 5px; 
    cursor: pointer; 
  }
}
.modal-adding-photo{
  display: none;
}

.modal-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 35px;
}

#modal-edit-work-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 520px;
  margin-bottom: 45px;
}

.modal-content-new-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: rgb(226, 238, 242);
  margin-bottom: 16px;
  cursor: pointer;
  position: relative;
  text-align: center;

  #photo-add-icon {
    font-size: 35px;
    color: #a0a0a0;
  }

  #new-image {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #007bff;
    padding: 15px 30px 15px 30px;
    background-color: lightgray;
    border-radius: 20px;

  }

  #photo-size {
    font-size: 12px;
    color: #808080;
    margin-top: 8px;
  }

  #form-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.modal-content-new-category-title {
  display: flex;
  flex-direction: column;
  text-align: left;

  label {
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type='text'] {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    outline: none;

    &:focus {
      border-color: #6e7072;
    }
  }

  .choice-category {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    outline: none;

    &:focus {
      border-color: gray;
    }
  }

  .submit-new-work {
    width: 50%;
    align-self: center;
    padding: 10px;
    background-color:#1D6154 ;
    color: #fff;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
}

