.banner_edit_mode {
    background-color: #110303;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
  
    i {
      color: white;
      margin-right: 5px;
    }
  
    span {
      color: white;
    }
  }

.modal {
    display: none;
    flex-direction: column;
    z-index: 10;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 50%;
    border-radius: 10px;
    box-shadow: grey;
    background: whitesmoke;
    text-align: center;

    .modal-header {
        display: flex;
        justify-content: space-between;
        padding: 26px 30px 13px;
        font-size: 1.5em;

        .cross-modal {
            margin-left: auto;
        }
    }

    .modal-body {
        text-align: center;
        margin: 0;

        h2 {
            font-size: 26px;
            font-weight: 400;
        }

        .photo-mini-gallery {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 0 10% 10%;
          gap: 10px;
      }
      
      .photo-mini-gallery img {
          width: 100px; 
          height: 100px; 
          object-fit: cover; 
          border-radius: 5px; 
      }
      
        #line-modal {
            width: 420px;
            height: 1px;
            background: gray;
            margin: auto;
            color: white;
        }

        button {
            background: #1D6154;
            color: white;
            width: 237px;
            height: 36px;
            border-radius: 60px;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 45px;
            margin-top: 46px;
            align-self: center;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
            width: 420px;
            margin-bottom: 45px;
        }
    }
}

.backdropFilter {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
  display: none; 
  z-index: 1000; /* High z-index to be below the modal but above other content */
}

.modal {
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; 
}

.modal-active .backdropFilter {
  display: block; /* Show backdrop when modal is active */
}
