// Styles de base pour les boutons de filtrage
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.filter {
  padding: 10px 20px;
  border: 2px solid $color-secondary; // Utilisez votre couleur principale pour la bordure
  border-radius: 25px;
  background-color: transparent;
  color: $color-secondary;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover,
  &.filter-selected { // Unifiez le style pour hover et selected
    background-color: $color-secondary;
    color: white;
    border-color: transparent; // Optionnel, pour enlever la bordure sur les boutons actifs
  }
}

#edit-button {
  background: none;
  border: none;
  margin-bottom: 30px;
}
