/ Button et filtres
/* Button hover effect */

.filter-buttons {
  @include flex-center;
  gap: 20px;
  margin-bottom: 30px;
}

.filter:hover {
  background-color: $color-secondary; 
}

/* Button active (selected) effect */
.filter-selected {
  background-color:$color-primary;
  color: white;
}
