body {
  max-width: 1140;
  margin: auto;
  font-family: 'Work Sans';
  font-size: 14px;

  main {
    margin-left: 5%;
    margin-right: 5%;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
  }

  section {
    margin: 50px 0;
  }

  h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C;

    > span {
      font-family: 'Work Sans';
      font-size: 10px;
      letter-spacing: 0.1em;
    }
  }

  h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
    text-align: center;
   }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;

      li {
        padding: 0 10px;
        font-size: 1.2em;

        &:hover {
          color: #B1663C;
        }
        a{
          text-decoration: none;
          color: black;
        }
        
      }
    }
  }

  // Introduction section
  #introduction {
    @include flex-center;
  
    figure, article {
      flex: 1;
    }
  
    img {
      display: block;
      margin: auto;
      width: 80%;
    }
  
    h2 {
      margin-bottom: 1em;
    }
  
    p {
      margin-bottom: 0.5em;
    }
  }

// Portfolio section


.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  img {
    width: 100%;
  }
}

#projects {
  flex-direction: column;
  align-items: center;
}
.project-header {
    display: flex;
    justify-content: center;
    gap: 20px;

    .other-sections {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }
    }

  .filter-buttons {
    margin-bottom: 30px;
   }


/* FORM Styling */
#contact {
	width: 50%;
	margin: auto;

	/* Applying text alignment to all child elements */
	> * {
		text-align: center;
	}

	h2 {
		margin-bottom: 20px;
	}

	form {
		text-align: left;
		margin-top: 30px;
		display: flex;
		flex-direction: column;

		input, textarea {
			box-shadow: 0px 4px 14px $box-shadow-color;
			border: none;
			&:not([type="submit"]) {
				font-size: 4.2em;
			}
		}

		label {
			margin: 2em 0 1em;
		}

		textarea {
			padding: 10px;
      height: 230px;
      resize: none;
		}

		input[type="submit"] {
			font-family: $color-primary;
			font-weight: 700;
			color: $text-color;
			background-color: $background-color;
			margin: 3em auto;
			width: 180px;
			text-align: center;
			border-radius: 60px;
			transition: all 0.5s ease;
			border: 10px solid $background-color;

			&:hover {
				color: $hover-text-color;
				background-color: $hover-background-color;
				scale: 1.05;
			}
		}
	}
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}